<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <h3>
        Welcome to Challenge Hub – the space where creativity meets
        competition!🎯
      </h3>
      <p>
        We believe challenges aren’t just about winning, they’re about
        discovering new ideas, pushing boundaries, and unlocking your true
        potential. From tech hackathons 💻 to designathons 🎨, quizzes 🤓, and
        beyond, we bring you the latest and most exciting opportunities to
        explore, compete, and grow. Whether you’re here to sharpen your skills,
        showcase your talent, or just connect with like-minded peers, Challenge
        Hub has something for everyone. We’re more than just a platform – we’re
        a community of dreamers, doers, and innovators. Together, we cheer each
        other on, celebrate wins, and most importantly, learn from every
        experience. 🌟
      </p>
      <h5>
        💡✨ Join us, take on challenges, and push your limits — because every
        step here is a chance to learn, grow, and shine! 🌟
      </h5>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
      </div>
    </div>
  </div>
</section>
